@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-ease {
    transition: 0.3s ease all;
  }
  .transition-ease-longer {
    transition: 0.5s ease all;
  }
  .transition-ease-delay {
    transition: 0.3s ease all;
  }
  .top-1vw{
    top: -1vw;
  }
}

/* @font-face {
  font-family: "nh";
  src: local("futura"), url("../public/fonts/nh-400.ttf") format("truetype");

  font-weight: 400;
} */
@font-face {
  font-family: 'nh';
  src: local('Neue Haas Grotesk  Roman'), local('Neue-Haas-Grotesk--Roman'),
      url('../public/fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
      url('../public/fonts/NeueHaasDisplay-Roman.woff') format('woff'),
      url('../public/fonts/NeueHaasDisplay-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



html {
  font-size: 62.5%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* html, *{
  scroll-behavior: smooth;
} */
a,
p,
body {
  font-family: "nh";
  font-weight: 400;
}

h1 {
  font-weight: 400;
  max-width: 23ch;
  font-size: clamp(32px, calc(7.65px + 5.49vw), 170px);
  font-family: inherit;
  font-weight: 400;
  line-height: 1.05;
}
/* OVERLAY ANIM */

h3 {
  font-size: clamp(13px, calc(3.5px + 1.69vw), 40px);
  line-height: 130%;
}
h2 {
  font-size: clamp(32px, calc(3.65px + 3.49vw), 170px);
}
.scaled-down {
  transform: scale(0.2);
}

/* .footer__info p {
  font-size: clamp(12px, calc(1.65px + 1.69vw), 40px);
} */
.removeOpacity {
  opacity: 1;
  z-index: 1;
  visibility: hidden;
  animation: removeOpacityAnimation 4.1s forwards;
}

@keyframes removeOpacityAnimation {
  0% {
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
}

.big-intro {
  text-align: left;
  /* max-width: 34ch;
  line-height: 135%; */
  justify-content: center;
  font-size: clamp(12px, calc(1.65px + 1.69vw), 40px);
}
header {
  animation: fadeInUp 0.8s cubic-bezier(0.41, 0.75, 0.07, 0.97) forwards 4.5s;
  transform: translateY(-9rem);
}
header:hover .header__container{
  transform: translateY(0) !important;
}
/* FIN OVERLAY ANIM */

.fade-out-down {
  animation: fadeOutDown 0.55s cubic-bezier(0.41, 0.75, 0.07, 0.97) forwards
    3.3s;
}
.fade-in-up {
  animation: fadeInDown 0.8s cubic-bezier(0.41, 0.75, 0.07, 0.97) forwards 4.1s;
}
/* LOCOMTIVE  */

.projects .single-project:nth-child(odd) {
  background-color: #405f7d;
  color: #fcfbf8;
}
.projects .single-project:nth-child(even) {
  background-color: #fdfdfd;
  color: #003955;
  flex-direction: row-reverse;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* CONTACT FORM  */

input,
textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-image: initial;
  border-bottom: 1px solid #003955;
  background-color: transparent;
  font-size: clamp(12px, calc(1.65px + 1.69vw), 40px);
}
textarea:focus,
input:focus {
  outline: none;
}

.copyright {
  left: clamp(20px, calc(20.47px + 0.94vw), 40px);
}

/* .solutions h3 {
  font-size: clamp(32px, calc(1.65px + 3.49vw), 170px);
} */
ul li, .solutions h3 {
  font-size: clamp(12px, calc(1.65px + 1.69vw), 40px);
}
.line-solutions{
  height: 1px;
  /* width: 100%; */
  background-color: #003955;
}
/* CustomEase.create("cubic", "0.65, 0, 0.35, 1");
CustomEase.create("bezier", "0.87, 0, 0.13, 1");
CustomEase.create("circ", "0.85, 0, 0.15, 1"); */
/* ANIMATION KEYFRAMES  */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-9rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

/* 
AOS UTILS  */

[data-aos="fade-in-right"] {
  transform: translateX(50px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0px);
    opacity: 1;
  }
}
[data-aos="fade-in-up"] {
  transform: translateY(50px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0px);
    opacity: 1;
  }
}
[data-aos="fade-in-up-short"] {
  transform: translateY(20px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0px);
    opacity: 1;
  }
}
[data-aos="fade-opacity"] {
  opacity: 0;
  transition-property: opacity;
  &.aos-animate {
    opacity: 1;
  }
}
[data-aos="width-opacity"] {
  opacity: 0;
  width: 0%;
  transition-property: opacity, width;
  &.aos-animate {
    opacity: 1;
    width: 100%;
  }
}

body[data-aos-easing="new-easing"] [data-aos],
[data-aos][data-aos][data-aos-easing="new-easing"] {
  transition-timing-function: cubic-bezier(0.41, 0.75, 0.07, 0.97);
  transition-duration: 1s;
}
body[data-aos-easing="new-easing-delay"] [data-aos],
[data-aos][data-aos][data-aos-easing="new-easing-delay"] {
  transition-timing-function: cubic-bezier(0.41, 0.75, 0.07, 0.97);
  transition-duration: 1s;
  transition-delay: 0.3s;
}
body[data-aos-easing="new-easing-delay2"] [data-aos],
[data-aos][data-aos][data-aos-easing="new-easing-delay2"] {
  transition-timing-function: cubic-bezier(0.41, 0.75, 0.07, 0.97);
  transition-duration: 1s;
  transition-delay: 0.9s;
}
body[data-aos-easing="new-easing-delay-short"] [data-aos],
[data-aos][data-aos][data-aos-easing="new-easing-delay-short"] {
  transition-timing-function: cubic-bezier(0.41, 0.75, 0.07, 0.97);
  transition-duration: 1s;
  transition-delay: 0.2s;
}
body[data-aos-easing="new-easing-delay2-short"] [data-aos],
[data-aos][data-aos][data-aos-easing="new-easing-delay2-short"] {
  transition-timing-function: cubic-bezier(0.41, 0.75, 0.07, 0.97);
  transition-duration: 1s;
  transition-delay: 0.4s;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #003955;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #003955;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger span {
  width: 100%;
  height: 0.25rem;
  background: #003955;
 
  display: block;
}
.hamburger.close{
  position: fixed;
  right: 1.5rem;
  top: 3.25rem;
}
.hamburger.close span:nth-child(1){
  transform: rotate(-45deg);
  /* left: 1rem; */
  top: 1rem;
  position: relative;
}
.hamburger.close span:nth-child(2){
  transform: rotate(45deg);
  /* left: 1rem; */

}
.menu-mobile{
  top: 3.75rem;
  z-index: 10;
  height: auto;
  padding-bottom: 4rem;
}
.mobile-menu.open{
  transition:  0.5s ease all;
  transform: translateY(0%);
}
.mobile-menu{
  transition:  0.5s ease all;
  transform: translateY(-100%);
}
@media (max-width: 829px) {
.scaled-down{
  transform: scale(0.1);
}
h1 {
  font-weight: 400;
  max-width: 23ch;
font-size: 4.3rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.2;
}

h3, .solutions h3, ul li {
font-size: 1.6rem;
  line-height: 140%;
}
.mobile-menu a {
  font-size: 3rem;
  line-height: 150%;
}
.projects .single-project:nth-child(even) {

  flex-direction: column;
}
header:hover .header__container{
  transform: translateY(-12rem) !important;
}

}

